<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}RDC Config{% endblock %}</title>
		{% block javadata %}
			<div id="jsData" style="display: none;" data-default-vpn-account="{{ vpnAccount }}">HEREIAM</div>
	    {% endblock %}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assetic/bootstrap_css.css') }}">
            <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
            <link rel="stylesheet" href="{{ asset('vendor/fontawesome5/css/fontawesome-all.min.css') }}">
        {% endblock %}
	    {% block javascripts %}
		    <script src="{{ asset('assetic/jquery.js') }}"></script>
		    {#<script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>#}
		    <script src="{{ asset('assetic/bootstrap_js.js') }}"></script>
		    <script src="{{ asset('js/main.js') }}"></script>
	    {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('images/common/favicon.ico') }}" />
    </head>
    <body>
        <header class="header">
            <img class="logo-icon" src="{{ asset('images/common/oxford-instruments-logo.png') }}">
            <h1 class="logo">RDC Config</h1>
            <ul class="navi">
                {% if is_granted('ROLE_USER') %}
                    <li><a href="{{ path('security_logout') }}"><i class="fas fa-lock"></i>&nbsp;Logout</a></li>
                {% else %}
                    <li><a href="{{ path('security_login') }}"><i class="fas fa-lock-open"></i>&nbsp;Login</a></li>
                {% endif %}
            </ul>
        </header>

        <div class="main-content">
	        {% block flash_messages %}
		        <div id="messages">
	                <br>
			        {% for type, messages in app.session.flashbag.all() %}
				        {% for message in messages %}
	                        <div class="alert alert-{{ type }} alert-dismissible" role="alert">
	                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						        {{ message | raw }}
	                        </div>
				        {% endfor %}
			        {% endfor %}
		        </div>
	        {% endblock %}
            {% block body %}{% endblock %}
        </div>

        <div class="footer">
            <p class="footer-text"></p>
        </div>


    </body>
</html>
