{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header text-center">
		            {% if not app.user %}
                        Login to configure the RDC
		            {% else %}
                        Already logged in!
		            {% endif %}
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <span style="font-size: 100px;">&nbsp;</span>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                For assistance and support contact Oxford Instruments Healthcare at 1-800-673-5151
            </div>

        </div>
    </div>

{% endblock %}
