{# log #}
{# Created by Justin on 3/27/2018 #}

{% extends '::base.html.twig' %}

{% block body %}
	<br><br>
	<br><br>
	<button type="button" class="btn btn-primary" onclick="location.href='{{ path('setup') }}'"><i class="fas fa-backward"></i>&nbsp;Go Back</button>
	<br><br>
	<pre>{{ log }}</pre>
	<br><br>
	<button type="button" class="btn btn-primary" onclick="location.href='{{ path('setup') }}'"><i class="fas fa-backward"></i>&nbsp;Go Back</button>
{% endblock %}