{% extends 'base.html.twig' %}
{% form_theme formNet '@EvotodiIpFieldType/Form/ipfield_widget.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <div class="row vertical-divider">
            <div class="col-md-3">
                <h1>RDC Network Settings</h1>
	            {{ form_start(formNet) }}
	            {{ form_errors(formNet) }}
                MAC: {{ form_widget(formNet.mac, { 'id': 'mac', 'class': 'macDis' }) }}
                <div id="static">
                    <br>
                    IP Address: {{ form_widget(formNet.addr, { 'id': 'addr' }) }}
                    <br>
                    Gateway: {{ form_widget(formNet.gw, { 'id': 'gw' }) }}
                    <br>
                    Subnet Mask: {{ form_widget(formNet.nm, { 'id': 'nm' }) }}
                    <br>
                    Broadcast: {{ form_widget(formNet.bcast, { 'id': 'bcast' }) }}
	                <br>
	                DNS Primary: {{ form_widget(formNet.ns1, { 'id': 'ns1' }) }}
	                <br>
	                DNS Secondary: {{ form_widget(formNet.ns2, { 'id': 'ns2' }) }}

                </div>
                <br>
	            {{ form_widget(formNet.dhcp, { 'id': 'dhcp' }) }}
	            {{ form_rest(formNet) }}
                <br>
                <br>
                <button type="submit" class="btn btn-primary" formnovalidate><i class="fas fa-save"></i>&nbsp;Update Network</button>
                <br>
                <br>
	            {{ form_end(formNet) }}
            </div>
            <div class="col-md-3">
                <h1>OiRemote Settings</h1>
	            {{ form_start(formVpn) }}
	            {{ form_errors(formVpn) }}
	            {{ form_rest(formVpn) }}
                <br>
                <br>
	            <div style="color: red">
	            Save the settings first then apply them.<br>
	            To enable or disable saving the settings is sufficient.
	            </div>
	            <br><br>
                <button type="submit" class="btn btn-primary" formnovalidate><i class="fas fa-save"></i>&nbsp;Save OiRemote Settings</button>
	            <br><br>
	            <button id="oir_setup" type="button" class="btn btn-primary status-btn" formnovalidate><i class="fas fa-share"></i>&nbsp;Apply OiRemote Settings</button>
                <br>
                <br>
	            {{ form_end(formVpn) }}
            </div>
            <div class="col-md-3">
                <h1>OiVision GE Settings</h1>
	            <br>
	            {{ form_start(formCryo) }}
	            {{ form_errors(formCryo) }}
	            {{ form_rest(formCryo) }}
                <br>
                <br>
                <button type="submit" class="btn btn-primary" formnovalidate><i class="fas fa-save"></i>&nbsp;Save OiVision Settings</button>
                <br>
                <br>
	            {{ form_end(formCryo) }}
            </div>
            <div class="col-md-3">
                <h1>Operations</h1>
                <br>
	            <span class="ver">RDC Web Version: {{ rdcVer }}</span><br>
	            <span class="ver">RDC SD Version: {{ rdcSdVer }}</span><br>
	            <span class="ver">OiRemote Version: {{ oirVer }}</span><br>
	            <span class="ver">OiVision Version: {{ oivVer }}</span><br>
	            <span class="ver">OiVision Mac: {{ oivMac }}</span><br>
	            <br>
	            <button type="button" class="btn btn-secondary" formnovalidate onclick="location.href='{{ path('refresh') }}';"><i class="fas fa-redo"></i>&nbsp;Refresh Page</button>
	            <br><br>
                <button id="oir_status" type="button" class="btn btn-primary status-btn" formnovalidate><i class="fas fa-question"></i>&nbsp;OiRemote Status</button>
                <br><br>
	            <button id="oir_notify" type="button" class="btn btn-primary status-btn" formnovalidate><i class="fas fa-paper-plane"></i>&nbsp;OiRemote Notify Server</button>
	            <br><br>
	            <button type="button" class="btn btn-primary" formnovalidate onclick="location.href='{{ path('viewoirlog') }}';"><i class="fas fa-search"></i>&nbsp;View OiRemote Log</button>
	            <br><br>
	            <button id="clear_oir_log" type="button" class="btn btn-warning status-btn" formnovalidate><i class="fas fa-exclamation-triangle"></i>&nbsp;Clear OiRemote Log</button>
	            <br><br>
	            <button id="oir_factory" type="button" class="btn btn-warning status-btn" formnovalidate><i class="fas fa-undo"></i>&nbsp;Reset OiRemote to factory defaults</button>
	            <br><br>
	            <button type="button" class="btn btn-success" formnovalidate onclick="location.href='{{ path('setup', {'ping': 'Google.com'}) }}'"><i class="fas fa-signal"></i>&nbsp;Ping Google.com</button>
	            <br><br>
	            <button type="button" class="btn btn-success" formnovalidate onclick="location.href='{{ path('setup', {'ping': 'OiHealthcareRemote.com'}) }}'"><i class="fas fa-signal"></i>&nbsp;Ping OiHealthcareRemote.com</button>
	            <br><br>
                <button id="oiv_status" type="button" class="btn btn-primary status-btn" formnovalidate><i class="fas fa-question"></i>&nbsp;OiVision Status</button>
                <br><br>
	            <button id="oiv_send" type="button" class="btn btn-primary status-btn" formnovalidate><i class="fas fa-paper-plane"></i>&nbsp;OiVision Send Data</button>
	            <br><br>
	            <button type="button" class="btn btn-primary" formnovalidate onclick="location.href='{{ path('viewoivlog') }}';"><i class="fas fa-search"></i>&nbsp;View OiVision Log</button>
	            <br><br>
	            <button id="clear_oiv_log" type="button" class="btn btn-warning status-btn" formnovalidate><i class="fas fa-exclamation-triangle"></i>&nbsp;Clear OiVision Log</button>
	            <br><br>
	            <button id="oiv_factory" type="button" class="btn btn-warning status-btn" formnovalidate><i class="fas fa-undo"></i>&nbsp;Reset OiVision to factory defaults</button>
	            <br><br>
	            <button id="reboot" type="button" class="btn btn-danger status-btn" formnovalidate><i class="fas fa-exclamation-circle"></i>&nbsp;Reboot RDC</button>
	            <br><br>
	            {#<button id="test" type="button" class="btn btn-danger status-btn" formnovalidate><i class="fas fa-exclamation-circle"></i>&nbsp;Test</button>#}
	            {#<br><br>#}


            </div>
        </div>
	    {% if pingResp is defined %}
        <div class="row vertical-divider">
            <div class="col-md-12">
                <br><br>
                <h2>{{ pingWho }} ping raw data:</h2>
                <textarea title="ping-data" class="container-fluid">{{ pingResp }}</textarea>
            </div>
        </div>
	    {% endif %}
	    {% if status is defined %}
            <div class="row vertical-divider">
                <div class="col-md-12">
                    <br><br>
                    <h2>Status Return:</h2>
                    <textarea title="status-data" class="container-fluid">{{ status }}</textarea>
                </div>
            </div>
	    {% endif %}

	    <div id="stream-div" class="row vertical-divider" style="display: none;">
		    <div class="col-md-12">
			    <br><br>
			    <h2>Command &quot;<span id="cmd-name"></span>&quot; Output:</h2>
			    <code id="stream-output" class="container-fluid" style="line-height: 1.0 !important;"></code>
		    </div>
	    </div>
    </div>



{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/evotodiipfieldtype/js/IpFieldType.js') }}"></script>
    <script src="{{ asset('vendor/autosize-master/dist/autosize.min.js') }}"></script>
    <script>
		+function ($) {
			$(document).ready(function () {
				$('.status-btn').click(function () {
					var lastResponseLength = false;
					var route = null;
					switch (this.id) {
						case 'oir_status':
							route = '{{ path('oir_status') }}';
							break;
						case 'oiv_status':
							route = '{{ path('oiv_status') }}';
							break;
						case 'oir_setup':
							route = '{{ path('oir_setup') }}';
							break;
						case 'clear_oir_log':
							route = '{{ path('clear_oir_log') }}';
							break;
						case 'clear_oiv_log':
							route = '{{ path('clear_oiv_log') }}';
							break;
						case 'oir_factory':
							route = '{{ path('oir_factory') }}';
							$('#oir_setup').closest('form').find("input, textarea").val("");
							$('.vpnEnDisCheck').prop('checked', false);
							break;
						case 'oiv_factory':
							route = '{{ path('oiv_factory') }}';
							break;
						case 'reboot':
							route = '{{ path('reboot') }}';
							break;
						case 'oir_notify':
							route = '{{ path('oir_notify_server') }}';
							break;
						case 'oiv_send':
							route = '{{ path('oiv_send') }}';
							break;
						case 'test':
							route = '{{ path('test') }}';
							break;
						default:
							return null;
					}

					$('#cmd-name').text(this.innerText);
					$('#stream-output').empty();
					$('#stream-div').show();

					setTimeout(startStreaming(lastResponseLength, route), 1500);
				});

				function startStreaming(lastResponseLength, route) {
					xhr = new XMLHttpRequest();
					xhr.open('GET', route, true);
					xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');

					xhr.onprogress = function(e) {
						var response = e.currentTarget.response;
						var output = lastResponseLength === false
							? response
							: response.substring(lastResponseLength);

						lastResponseLength = response.length;

						$('#stream-output').append('<p>'+output+'</p>');
						console.log(output);
						$('html,body').animate({scrollTop: document.body.scrollHeight},"fast");
					};

					xhr.onreadystatechange = function() {
						if (xhr.readyState == 4) {
							$('#stream-output').append('<br><br><p>Command Completed!</p>');
						}
					};

					xhr.send();
				}
			});
		}(jQuery);
    </script>
{% endblock %}